<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% if page.layout == 'home' %}
      <title>Drupal consultancy | Codelab42</title>
    {% else %}
      <title>{{ page.title }} | Codelab42</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Raleway:400,200,100|Raleway+Dots' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
